body {
    font-family: "Open Sans Condensed";
    text-align: center;
    letter-spacing: 2px;
    background: #f9f8f9;
}

.head {
    color: #ffe575;
    height: 12vh;
    font-size: 10vh;
    
    margin-top: 2vh;
    text-shadow: 1px 1px #55614a;
}
.mid {
    color: #ffe575;
    height: 6vh;
    font-size: 5vh;
    text-shadow: .8px .8px #55614a;
}
.reg{
    color: #55614a;
    font-size: 2vh;
}

.line {
    border-bottom: 3px solid #ffe575;
}

.jumbotron {
    height: 100vh;
    margin: 0px;
}

.jumbo {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

#header {
    background-image: url('https://static.pexels.com/photos/5275/road-curve-bend-rainy.jpg');
    background-size: cover;
    z-index: 0;
    text-shadow: 1px 1px #55614a;
}
#header-head {
    z-index: 1;
    width: 26%;
    color: #ffe575;
    margin-top: 42vh;
    margin-left: 37%;
    margin-right: 37%;
    padding-bottom: 1.5vh;
    border-bottom: 2px solid #ffe575;
    font-size: 6vh;
    letter-spacing: 3px;
}
#header-text {
    font-size: 4vh;
    color: #ffe575;
}

.blank-bio {
    height: 40vh;
    margin-bottom: 10px;
}

#bio-right {
    margin-top: 5vh;
}
#bio-left {
    margin-top: 10vh;
}

#bio-pic {
     height: 40vh;
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5px;
     border-radius: 15px;
     background-image: url('./horsebio.jpg');
     background-size: cover;
     background-position: center;
}

.inline-block {
    margin: 1vh 5%;
    display: inline-block;
}

.projects {
    width: 70%;
    margin-bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    position: relative;
    overflow: hidden;
    color: #5fbec0;
    
}

.screenshots {
    height: 35vh;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 2vh;
}

#wiw-pic1 {
    background-image: url('./wiwtitle.jpg')
}

#wiw-pic2 {
    background-image: url('./wiwgame.jpg')
}

#y-pic1 {
    background-image: url('./wiwtitle.jpg')
}

#y-pic2 {
    background-image: url('./wiwgame.jpg')
}

#nyu-pic1 {
    background-image: url('./nyuboard.jpg')
}

#nyu-pic2 {
    background-image: url('./nyubuy.jpg')
}

.project-head {
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.site {
    color: red;
}

.code {
    color: orange;
}

.link {
    font-size: 3vh;
}

.edu {
    margin: 10vh auto;
    margin-top: 10vh;
}

.left {
    float: left;
}

.right {
    float: right;
}


.box-text {
    margin-top: 4vh;
}

.box {
    height: 33vh;
    width: 80%;
    margin: 0 auto;
}
.logo {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
}
.blocked {
    width: 80%;
    margin: 1vh auto;
}

.bold {
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0px;
    border-radius: 0px;
    width: 100%;
    z-index: 4;
    opacity: .8;
}

#footer {
    width: 100%;
    height: 45vh;
    background-color: #4c4c4c;
    color: #f9f8f9;
    border: 3px solid #4c4c4c;
}

.contact-logo {
    height: 55px;
    width: 55px;
}

.tech-cat {
    margin-top: 10vh;
}

.pt {
    font-size: 8vh;
    color: #ffe575;
    text-shadow: 1px 1px #55614a;
}

.foot-head {
    font-size: 8vh;
    margin-bottom: 4vh;
}

.footer-item {
    margin-bottom: 10vh;
    font-size: 2vh;
}

.created {
    padding-top: 5vh;
}

.project-item {
    margin-bottom: 5vh;
}

.space-for-nav {
    height: 5vh;
    width: 100%;
}