body {
    text-align: center;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0px;
    border-radius: 0px;
    height: 5vh;
    width: 100%;
    z-index: 4;
    opacity: .8;
    background-color: #000;
    color: #fff;
}

/* Containers */

#about {
    height: 7vh;
}

.banner {
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
}

.banner-title {
    font-size: 12rem !important;
    color: #fff !important;
    padding: 12vh 0;
}

/* Header */

.header {
    width: 100%;
    height: 85vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#home {
    background-image: url('https://images.pexels.com/photos/28878/pexels-photo-28878.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center;
}

.header-content {
    margin: 35vh auto;
    
}

.header-content h2{
    color: #f1f1f1;
}

.header-title {
    font-size: 6rem;
    color: #f1f1f1;
}

#view-work {
    color: #f1f1f1;
    font-size: 1.6rem;
    padding: 1.2rem;
    border: 2px solid #f1f1f1;
    display: inline-block;
    margin: 2rem 0;
    text-decoration: none;
}

#view-work:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: black;
}

/* About Section */

#headshot {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    background-image: url('./pictures/headshot.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
}

#bio {
    margin: 3vh 10%;
}

#bio p {
    font-size: 1.6rem;
}

#headshot {
    margin: 3vh auto;
}

/* Skills */

#skills {
    background-image: url('https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg');
    background-size: cover;
    background-position: center;
}

.tech-title {
    margin: 7vh 0;
}

.tech-section {
    margin: 7vh 10%;
}

.tech {
    display: inline-block;
    margin: 2vh 5%;
    font-size: 1.6rem;
}

/* Footer */

#footer {
    width: 100%;
    background-color: #303030;
    color: #f9f8f9;
    overflow: hidden;
    margin-top: 12.5vh;
}

.logos {
    padding-top: 5vh;
    margin-bottom: 5vh !important;
}

.created {
    font-size: 1.6rem;
    padding-bottom: 5vh;
}

.contact-logo {
    height: 60px;
    width: 60px;
    margin: 0 5%;
    border-radius: 60px;
}

.contact-logo:hover {
    height: 65px;
    width: 65px;
}

.contact-page-logo {
    height: 60px;
    width: 60px;
    margin: 2% 2%;
    border-radius: 60px;
}

.contact-page-logo:hover {
    height: 65px;
    width: 65px;
}

/* Portfolio */

#portfolio {
    background-image: url('https://images.pexels.com/photos/7342/pexels-photo.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center;
}

.projects {
    height: 85vh;
    width: 70%;
    overflow: hidden;
    margin: 0 15%;
    padding: 0;
}

.project-section {
    width: 48%;
    height: 75vh;
    margin: 12.5vh 1%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right .project-text {
    padding-left: 15%;
}

#wiw-pic1 {
    background-image: url('./pictures/wiwtitle.jpg');
}

#wiw-pic2 {
    background-image: url('./pictures/wiwgame.jpg');
}

#r-pic1 {
    background-image: url('./pictures/Rummypic1.jpg');
}

#r-pic2 {
    background-image: url('./pictures/Rummypic2.jpg');
}

#nyu-pic1 {
    background-image: url('./pictures/nyuboard.jpg');
}

#nyu-pic2 {
    background-image: url('./pictures/nyubuy.jpg');
}

.screenshots {
    height: 35vh;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    width: 99%;
    margin-left: 3%;
    margin-bottom: 2vh;
    margin-right: 20%;
    border-radius: 1px;
}

.project-head {
    font-size: 3.8rem;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.site {
    color: red;
    font-size: 2rem !important;
}

.code {
    color: orange;
    font-size: 2rem !important;
}

.link {
    font-size: 1.6rem;
}

.reg{
    color: #303030;
    font-size: 1.6rem;
}

/* Contact Header */

#contact-header {
    background-image: url('https://images.pexels.com/photos/30360/pexels-photo-30360.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center;
}

.contact-title {
    font-size: 6rem;
    margin-top: 70vh;
    color: #fff;
}

/* Contact Page */

.btn {
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    padding: 1.2rem 2.2rem;
    display: inline-block;
    margin: 6rem 0;
    text-decoration: none;
    border-radius: 0px !important;
}

#contact-text {
    font-size: 1.8rem;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* Contact Footer */

#contact-footer {
    width: 100%;
    background-color: #303030;
    overflow: hidden;
}

.contact-created {
    padding-top: 6rem;
    font-size: 1.6rem;
    padding-bottom: 6rem;
    color: #fff;
    text-decoration: none;
}

.contact-created:hover {
    color: #4eb9e6 !important;
    text-decoration: none !important;
}

/* Resume */

#resume-container {
    width: 100%;
}